@splidejs /react-splide/css/core;
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  color: white;
}

main {
  transform-origin: center right;
  transition-property: scale, margin-left;
  transition-duration: 0.3s;
}

h1 {
  white-space: "pre-line"
}

#hero {
  background-color: black;
}
#projects {
  background-color: black;
}
#about {
  background-color: black;
}
#contact {
  background-color: black;
}

.wrapper {
  margin: 0 auto;
}
.splide__slide {
  padding: 1rem;
}
.slide-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.splide__list {
  display: flex;
  animation: scroll 20s linear infinite; /* Adjust time for speed */
}

.splide_track {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-container {
  padding: 0 10px; /* Spacing between slides */
}

.slide-img {
  width: 500px; /* Fixed width for consistent speed */
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  color: white;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(10px, 10px);
    }
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}